<nav>
    <ul>
        <li><a href="/">Back</a></li>
    </ul>
</nav>

<h1 id="sign-up">EDIT YOUR PROFILE</h1>

<form id="new-user-form" action="/users/<%= @user.id %>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]" value="<%= @user.username %>"><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="new_password"><br>
    <label for="birthplace">Birthplace:</label>
    <input type="text" id="birthplace" name="user[birthplace]" value="<%= @user.birthplace %>"><br>
    <label for="first_lang">First Language:</label>
    <input type="text" id="first_lang" name="user[first_lang]" value="<%= @user.first_lang %>"><br>
    <label for="dream_job">Dream Job:</label>
    <input type="text" id="dream_job" name="user[dream_job]" value="<%= @user.dream_job %>"><br>
    <label for="photo">Picture:</label>
    <input type="file" id="photo" name="user[photo]"><br>
    <div id="textareas">
        <p>
            If you were very fancy, what's the first thing that you would do?
        </p>
        <textarea id="if_I_were_fancy" name="user[if_I_were_fancy]" value="<%= @user.if_I_were_fancy %>"></textarea><br>
        <p>
            Favorite quote - being your own quip or not - attributed accordingly:
        </p>
        <textarea id="favorite_quote" name="user[favorite_quote]" value="<%= @user.favorite_quote %>"></textarea><br>
        <p>One thing about you that most people don't know...</p>
        <textarea id="secret_quality" name="user[secret_quality]" value="<%= @user.secret_quality% >"></textarea><br>
    </div>
    <input type="submit" value="Edit">
</form>
